{% extends 'currency_exchange/layout.html'%}
{% load staticfiles %}

{% block content %}
<div class="row main-content">
    {% if user.is_authenticated %}
        {% for rate in rates %}
        <div class="retrieved_data" style="display: none;">
            {{rate.body}}
        </div>
        {% endfor %}
    {% else %}
    <div class="col-md-6 mx-auto">
            <img class="card-img-top" src="{% static 'oops.jpg' %}" alt="Card image" width="400" height="400">
            <div class="card">
                <div class="card-body"><h3>Sorry, you are not logged in</h3></div>
            </div>
    </div>
    {% endif %}
</div>
<script type="text/javascript">
    $(document).ready(function() {

    // make current page link active
    $('.navbar-nav.mr-auto > li.nav-item:first').removeClass('active');
    $('.navbar-nav.mr-auto > li.nav-item:nth-child(3)').addClass('active');
    
    // parse retrieved database data into html
    var text = $('.retrieved_data').text();
    text = $.parseHTML(text);
    $('.row').append(text);
});
</script>
{% endblock %}